apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  creationTimestamp: "2023-01-16T12:43:36Z"
  generation: 1
  labels:
    app: deno-webserver
  name: {{.Release.Name}}deno-webserver
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 3
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: deno-webserver
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: deno-webserver
    spec:
      #securityContext:
      #  runAsUser: 1000
      #  runAsGroup: 3000
######### InitContainers qui vérifie l'état de la base de données #########
      initContainers:
        - name: check-mariadb
          image: busybox:1.28
          command: ['sh','-c', "until nc {{.Release.Name}}mariadb -z 3306; do echo feur;done"]
######### InitContainers qui applique les droits aux PVC #########

      containers:
      - image: {{ .Values.ServeurWeb.image.repository}}:{{ .Values.ServeurWeb.image.tag}}
        imagePullPolicy: {{ .Values.ServeurWeb.image.pullPolicy}}
        name: deno-webserver
        env:
            -   name: MARIADB_HOST
                value: {{.Release.Name}}mariadb
        ports:
          - name: http
            containerPort: 8080
            protocol: TCP
        readinessProbe:
          initialDelaySeconds: 30
          periodSeconds: 60
          httpGet:
            path: /probe?probeType=readiness
            port: http
        volumeMounts:
          - mountPath: /srv/app/pvc
            name: {{.Release.Name}}{{ .Values.PVC.volumeName}}
      volumes:
        - name: {{.Release.Name}}{{ .Values.PVC.volumeName}}
          persistentVolumeClaim:
              claimName: {{.Release.Name}}{{ .Values.PVC.name}}

---
######### PV #########

apiVersion: v1
kind: PersistentVolume
metadata:
    name: {{.Release.Name}}{{ .Values.PV.name}}
spec:
    accessModes:
        - ReadWriteOnce
    persistentVolumeReclaimPolicy: {{ .Values.PV.persistentVolumeReclaimPolicy}}
    storageClassName: standard
    capacity:
        storage: {{ .Values.PV.size}}
    hostPath:
        path: {{ .Values.PV.path}}

---
######### PVC #########

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: {{.Release.Name}}{{ .Values.PVC.name}}
    namespace: default
spec:
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: {{ .Values.PVC.size}}

---
apiVersion: v1
kind: Service
metadata:
  name: {{.Release.Name}}{{.Values.ServeurWeb.service.name}}
spec:
  type: {{.Values.ServeurWeb.service.type}}
  ports:
    - port: {{.Values.ServeurWeb.service.port}}
  selector:
    app: {{.Release.Name}}{{.Values.ServeurWeb.service.name}}

