apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: {{.Release.Name}}deno-ingress
    annotations:
        nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
    rules:
        - host: deno.minikube
          http:
              paths:
                  - path: /
                    pathType: Prefix
                    backend:
                        service:
                            name: deno-webserver
                            port:
                                number: 8080